@font-face {
    font-family: 'HSBombaram21-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSBombaram21-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ning1{
background-color: black;
position: relative;
}
.title{
   opacity: 0;
    background-image: url(img/1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 0px -50px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
@media (max-width: 767px) {
    .title{
    background-image: url(img/article-2.jpg);
    background-repeat: no-repeat;
    background-position: -30px 0;
    width: 100%;
    height: 100vh;
    }
}
.title-txt{
    position: absolute;
    color: #fff;
    top: 50%;
    text-align: center;
    font-size: 40px;
    font-family: 'HSBombaram21-Regular';
    
}
.title:hover{
    opacity: 1;
}
.ning2{
    display: flex;
}
.left{
    width: 50%;
    height: 100vh;
    overflow: hidden;
}
.left>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right{
    background-color: aquamarine;
    width: 50%;
}
.wrap-img{
    width: 500px;
    height: 600px;
    overflow: hidden;
    background-image: url(img/wrap-1.jpg);
    animation-name: ning1;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    -webkit-animation-name: ning1;
   -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

}
@keyframes ning1 {
    10% { 
    background-image:url(img/wrap-2.jpg)
    } 

}
@media (max-width: 767px){
    .left{
        display: none;
    }
}